#contact-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 1.5rem 1.5rem;
}

#map-container {
    flex: 100%;
    order: 1;
    text-align: center;
}

#map {
    display: inline-block;
}

#map-container img {
    max-width: 600px;
    width: 100%;
    border-radius: 2rem;
}

#contact-info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem 0.5rem;
    max-width: 600px;
    margin: 0.5rem auto 0;
    font-size: 0.75rem;
    color: var(--primary-color);
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info svg {
    width: 20px;
    height: 20px;
}

#contact-form {
    padding-bottom: 2rem;
}

#contact-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--primary-color);
}

#social-network-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.25rem;
    gap: 0.25rem 0.5rem;
}

.social-network-link {
    width: 24px;
    height: 24px;
}

.social-network-link svg {
    width: 100%;
    height: 100%;
}

.wpcf7-form {
    display: flex;
    flex-wrap: wrap;
}

.field {
    flex: 100%;
}

.field.full-width {
    flex: 100%;
}

.field > p {
    display: flex;
    flex-direction: column;
    position: relative;
}

.field.is-required > p::before {
    content: "*";
    position: absolute;
    top: 0;
    left: 0.25rem;
    color: var(--red-color);
} 

.field > p > label {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
    font-family: var(--font-bold);
    color: var(--primary-color);
    font-size: 0.85rem;
}

.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    padding: 0.75rem 1rem;
    font-family: var(--font-regular);
    font-size: 1.2rem;
    outline: none;
    border: solid 1px var(--tertiary-color);
    border-radius: 0.75rem;
}

.wpcf7-form-control:not(.wpcf7-submit)::placeholder {
    color: var(--tertiary-color);
}

.wpcf7-not-valid-tip {
    position: absolute;
    left: 1rem;
    top: calc(100% + 0.25rem);
    font-size: 70%;
    color: var(--red-color);
}

.screen-reader-response {
    display: none;
}

.wpcf7-response-output:empty {
    display: none;
}

.wpcf7-response-output {
    margin: 0 auto 1rem; 
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 80%;
}

.google-policy {
    text-align: center;
    font-size: 70%;
    color: var(--secondary-color);
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-actions > p {
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
}

#submit-button {
    padding: 0.6rem 1.25rem;
    text-transform: lowercase;
    font-family: var(--font-black);
    color: white;
    border: none;
    border-radius: 0.75rem;
    background: var(--primary-color);
    cursor: pointer;
    font-size: 1.1rem;
}

.wpcf7-form.submitting #submit-button {
    color: transparent;
    pointer-events: none;
    background: var(--secondary-color);
}

.wpcf7-form:not(.submitting) .wpcf7-spinner {
    display: none;
}

.wpcf7-spinner {
    position: absolute;
    width: 1em;
    height: 1em;
    font-size: 4px;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-animation: load 1.1s infinite ease;
    animation: load 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load {
    0%,
    100% { box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
    12.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
    25% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    37.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    50% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    62.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    75% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    87.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; }
}

@keyframes load {
    0%,
    100% { box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7); }
    12.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5); }
    25% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    37.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    50% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    62.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    75% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2); }
    87.5% { box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff; }
}

@media screen and (min-width: 650px) {
    #contact-form-header {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    #social-network-links {
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .field {
        flex: calc(50% - 1rem);
    }

    .wpcf7-form {
        gap: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #contact-form {
        margin: auto;
    }

    .wpcf7-form {
        max-width: calc(1024px - 4rem);
    }
}

@media screen and (min-width: 1400px) {
    #contact-container {
        padding: 0 1rem;
        flex-wrap: nowrap;
        justify-content: center;
    }

    #map-container {
        flex: 1;
        order: 0;
        margin-right: 2.5rem;
        max-width: 520px;
    }

    #contact-form {
        margin: 0;
    }

    .wpcf7-form {
        width: 768px;
    }
}

@media screen and (min-width: 1600px) {
    #contact-container {
        padding: 0 2.5rem;        
    }
}